<div id="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1>Scraping is cool!</h1>
      <h2><i>Don't be a jerk</i></h2>
      <a class="btn btn-info" href="/" role="button">Home</a>
      {{!-- <a href="/"><button>Home</button></a> --}}
   </div>
 </nav>
<div class="jumbotron">   
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>