  body {
    background-color: #F2F6D0;
    background-image: url(https://images.unsplash.com/photo-1457536610610-bf4b249617c7?w=1500&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }

  textarea,
  input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
    z-index: 200;
  }

  input {
    height: 36px;
    font-size: 24px;
  }

  textarea {
    font-size: 18px;
  }

  .pokeBox {
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .jumbotron{
    background-color: white;
  }
  .container{
    text-align: center;
  }
  .btn-default{
    background-color: #b30202;
    color:white;
  }
  .btn-primary{
    background: #1b1717;
  }
  .navbar{
    background: #000000;
    color: white;
  }
  .comment-box{
    height: 150px;
  }
  @media (max-width:950px){
       #wrapper{
        width:100%;
       }
  }
  @media (max-width:770px){
       .nav-imgs{
        display: none;
       }
  }